@font-face {
  font-family: gilroy;
  src: url(Gilroy-Regular.otf);
}
.hero-5 {
  width: 100%;
  height: 150vh;
  padding: 5vh 6vw;
  font-family: gilroy;
  /* margin-top: 5vw; */
}
.hero-5 h1 {
  align-items: center;
  display: flex;
  padding-left: 1vw;
  font-weight: bold;
  margin-bottom: 5vw;
  display: flex;
}
#line {
  width: 10vw;
  height: 0.5vh;
  margin-right: 1vw;
  background: #000;
}
.hero-5 span {
  margin-left: 1vw;
  color: rgb(247, 96, 41);
}
.map-container {
  width: 100%;
  /* background: #000; */
  display: flex;
  /* justify-content: space-between; */
}

form {
  margin-left: 3vw;
  width: 30vw;
  box-shadow: 2px 2px 32px rgba(235, 48, 142, 0.864);
  margin-top: 6vh;
  height: 90vh;

  background: #ff2a6a;
  border-radius: 20px;
}
.input-field button {
  margin-top: 2vw;
  padding: 2vh 6vw;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-family: gilroy;
  color: white;
  box-shadow: 2px 2px 32px rgb(247, 96, 41);

  background: rgb(249, 113, 22);
  border-radius: 10px;
  /* margin-top: 3vw; */
}
form h1 {
  padding-top: 5vh;
  margin-left: 2vw;
  font-size: 2.2vw;
  color: rgb(0, 221, 255);
  color: white;
  font-weight: 400;
  font-size: 3vw;
}
.input-fields {
  display: flex;
  width: 80%;
  flex-direction: column;
}
input {
  outline: none;
  font-family: gilroy;
  font-size: 1vw;
  height: 5vh;
  border: 2px solid red;
  margin-top: 0.5vw;
  padding-left: 1vw;
  border-radius: 5px;
}
textarea {
  font-family: gilroy;
  font-size: 1vw;
  outline: none;
  padding: 1vh 1vw;
  border: 2px solid red;

  margin-top: 0.5vw;

  height: 20vh;
  /* border: none; */
  border-radius: 5px;
}
.form-container {
  width: 100%;
  height: 56vh;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
label {
  font-weight: 600;
  color: white;
}
#map {
  height: 100vh;
  width: 60%;
}
@media only screen and (max-width: 500px) {
  .map-container {
    display: flex;
    flex-direction: column;
  }
  .hero-5 h1 {
    margin-bottom: 10vw;
    font-size: 8vw;
  }
  form h1 {
    margin-left: 7vw;
  }
  #map {
    height: 50vh;
    width: 100%;
  }
  form {
    width: 90%;
    height: 70vh;
  }
  #form-head {
    text-align: center;
    font-size: 5vw;
  }
  label {
    color: white;

    font-weight: 600;
  }
  .hero-5 span {
    margin-left: 2vw;
  }
  input {
    margin-top: 1vw;
    height: 5vh;
    font-size: 2vw;
    width: 100%;
  }
  textarea {
    font-size: 2vw;
    height: 15vh;
  }
  .form-container {
    height: 50vh;
  }
  .input-field button {
    margin-right: 30vw;
    width: 30vw;
  }
}
